<h1>Events</h1>
<ul>
<% @events.each do |event| %>
	<li class='button-container'>
		<%= link_to overview_event_path(event), class: 'button' do %>
			<p><%= event.name %></p><small><%= event.description %></small>
		<% end %>
		<%= link_to '#', event, class: 'button button-action' %>
	</li>
<% end %>
<% if @events.empty? %>
	<p>No events found</p>
<% end %>

<%= link_to 'Create Event', new_event_path, class: 'button button-block' %>

</ul>
