<% content_for :javascript_includes do %>
	<%= javascript_include_tag "poll_chart.js" %>
<% end %>

<h1><%= @event.name %></h1>
<% unless @event.polls.empty? %>
	<div id="myCarousel" class="carousel slide">
		<!--<ol class="carousel-indicators">
			<% (0..@event.polls.length).each do |i| %>
				<li data-target="#myCarousel" data-slide-to="<%= i %>" 
				class="<%= 'active' if i == 0 %>"></li>
			<% end %>
		</ol>-->
		<!-- Carousel items -->
		<div class="carousel-inner">
			<% @selected_index ||= 0 %>
			<% @event.polls.each_with_index do |poll, i| %>
				<div class="item<%= ' active' if i == @selected_index %> poll-chart-container">
					<h2><%= poll.question %></h2>
					<% unless poll.choices.empty? %>
						<canvas class="poll-chart" id="poll-<%= poll.id %>" width="300px" height="300px"></canvas>
						<ul>
							<% poll.choices.each_with_index do |choice, i| %>
								<li class="poll-choice" id="choice-<%= i %>" data-name="<%= choice.name %>" data-votes="<%= choice.votes %>">
									<% choice_label = "#{choice.name} (#{choice.votes})" %>
									<%= button_to choice_label, vote_choice_path(choice), class: 'button button-block', selected_index: i %>
								</li>
							<% end %>
						</ul>
					<% else %>
						<br />
						<div class='errors'>
							<%= link_to 'There\'s no choices :(', poll_path(poll) %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
<% else %>
	<div class='errors'>
		<%= link_to 'There\'s no polls :(', event_path %>
	</div>
<% end %>
<%= link_to 'Back', events_path, class: 'button button-block' %>
