<h1><%= @event.name %></h1>
<p><%= @event.description %></p>

<h2>Polls</h2>
<ul>
	<%= render @event.polls %>
</ul>

<h2>Add Poll</h2>
<%= form_for([@event, @event.polls.build]) do |f| %>
	<%= f.label :question %>
	<%= f.text_field :question %>
<% end %>
	

<%= link_to 'Back', events_path %>
<%= link_to 'Edit', edit_event_path %>
<%= link_to 'Delete', event_path, method: :delete, 
	data: { confirm: 'Are you sure?' } %>
