<h1><%= @event.name %></h1>
<h3><%= @event.description %></h3>

<h2>Polls</h2>
<ul>
	<%= render @event.polls %>
</ul>

<%= form_for([@event, @event.polls.build], html: { class: 'form-single-line'} ) do |f| %>
	<%= f.text_field :question %>
	<%= f.submit '+', class: 'button button-small' %>
<% end %>

<%= link_to 'Back', events_path, class: 'button button-block' %>
<%= link_to 'Edit', edit_event_path, class: 'button button-block' %>
<%= link_to 'Delete', event_path, method: :delete, 
	data: { confirm: 'Are you sure?' }, class: 'button button-block button-cancel'  %>
